@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.App {
  text-align: center;
}

body {
  background: #161618;
  font-family: "Inter", serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .chips {
    padding: 8px 8px 8px 12px;
    font-size: 16px;
      gap: 6px;
      border-radius: 6px;
  }
  .form input{
    font-size: 14px;
  }
  .form input::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .container {
    margin: 0 auto;
    max-width: 416px;
  }

  .chips {
    padding: 4px 4px 4px 8px;
    font-size: 13px;
    gap: 4px;
    border-radius: 4px;
  }
  .form input{
    font-size: 12px;
  }
  .form input::placeholder {
    font-size: 12px;
  }
}

.form input::placeholder {
  color: #88888A;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  height: 100vh;
  align-items: center;
  /* Align the content vertically in the center */
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 97px;
}

.chips-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

.chips {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #4A305A;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chip-close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 14px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.pt50 {
  padding-top: 50px;
}

.form {
  display: flex;
  padding: 6px 6px 6px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  outline: 1px solid #3F3E41;
  background: #1F1F21;
  height: 34px;
}

.form:focus-within {
  outline: 3px solid #3E2E7E;
  background-color: #1c1c1d;
}

.form-outline {
  outline: 3px solid #3E2E7E;
}

.form-outline-0 {
  outline: none;
}

.form:hover {
  background-color: #1c1c1d;
}

.form input {
  font-size: 16px;
  letter-spacing: 1px;
  touch-action: manipulation;
  background: 0;
  border: none !important;
  width: 100%;
  height: 32px;
  color: white;
}

.form input:focus {
  border: none !important;
  outline: none !important;
}



.chips:hover {
  cursor: pointer;
  background-color: #382444;
}

.submitBtn {
  display: flex;
  width: 34px;
  height: 34px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #6647E5;
}

.submitBtn:hover {
  background-color: #563AC7 !important;
}

.submitBtn img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/* Rotate animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Show spinner when the button is active */
.spinner {
  animation: spin 1s linear infinite;
}

.loading-wrapper {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadingMessage {
  padding-top: 16px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.wizard {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.content{
  min-height: calc(100% - 291px);
}


.content-height-0{
  height: auto;
}

.header {
  padding-top: 50px;
  padding-bottom: 24px;
}

.footer {
  padding-bottom: 50px;
}

.list-wrapper {
  padding-bottom: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  /* Stacks items vertically */
  gap: 8px;
  text-align: left;
}

.listElement {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  background-color: #1F1F21;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
}

.destinationElemenet {
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
}

.destinationElemenet :nth-child(1) {
  color: #88888A;
}

.destinationElemenet :nth-child(2) {
  color: #fff;
}

.elementData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.secondary-text {
  color: #88888A;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.elLocation {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4px;
  background: #161618;
}

.elStatus {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 30px;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
  align-self: stretch;
}

.left-group {
  display: flex;
  align-items: center;
}

.left-group img {
  margin-right: 12px;
}

.elReason {
  display: flex;
  padding: 10px 12px 12px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 6px;
  background: #161618;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}